@import url(global.css);

body {
    background: #FEFFE9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background: var(--purple-primary);
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    font-size: 36px;
    color: var(--blue-primary);
    letter-spacing: 2px;
    font-family: "Gasoek One", sans-serif;
}
header .btn-enter {
    background: var(--yellow-primary);
    padding: 6px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

/* Container geral */
.login-container {
    margin: 40px auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-radius: 18px;
}

/* Área do formulário */
.login-box {
    background: var(--purple-light);
    padding: 40px;
    width: 50%;
    border-radius: 18px 0 0 18px;
    font-family: "Inter", sans-serif;
}
.login-box h2 {
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
}
.input {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: none;
    background: var(--blue-primary);
    margin-bottom: 12px;
}
.label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    font-size: 16px;
}
.btn-submit {
    background: var(--yellow-primary);
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

/* Painel lateral */
.welcome-box {
    background: var(--blue-primary);
    width: 50%;
    border-radius: 0 18px 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--purple-primary);
    font-size: 40px;
    font-family: "Gasoek One", sans-serif;
}

/* Erro e sucesso */
.erro {
    background: #ffb5b5;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}
.sucesso {
    background: #b1ffb5;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

/* FOOTER */
#copyright{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    font-size: 20px;
    padding: 25px;
    background-color: var(--purple-primary);
    color: white;
    font-family: "Inter", sans-serif;
}